@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

.shop {
  font-family: "Roboto", sans-serif;
  padding: 0px;
  margin: 0px;
  background: #ffffff;
  #header {
    background: url("https://static-sea.dragonnest.com/static-sea/2/Content/EN/images/title_bg.jpg")
      no-repeat;
    border-bottom: 2px solid#E3E3E3;
    height: 119px;
    line-height: 119px;
    font-size: 30px;
    color: #0d0d0d;
  }
}

#itemImage {
  transition: 0.5s;
}

#itemImage:hover {
  transition: 0.5s;
  transform: scale(1.1);
  cursor: pointer;
}
